img{
	max-width: 100%;
}

#facebook-wrapper{
	/* if we need whole page styles */
}

#header{
	background-color: #3B5998;
	/* overflow: hidden will cause children to stretch their height up*/
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 5px;
}

#header-inner{
	max-width: 900px;
	margin:  auto;
}

#right-header{
	float: right;
	margin-right: -61px;
}

#right-header div{
	float: left;
	font-weight: normal;
}

#left-header{

}

#fb-logo{
	height: 24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0 -163px;
}

#fb-logo, #fb-search{
	float: left;
	margin-left: 10px;
}

#fb-search input{
	width: 400px;
	line-height: 17px;
	margin-left: -3px;
}

#small-avatar{
	height: 24px;
	width: 24px;

}

#home-link a{
	font-weight: normal;
	font-size: 12px;
	color: white;
	text-decoration: none;
	margin-left: 10px;
	vertical-align: bottom;
}

/* This is a catch all for the three social icon divs */
.social-icon{
	height: 24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 11px;
}

/* This is specific to the friends div */
.friends{
	background-position: 0 -188px;
}

/* This is specific to the messages div */
.messages{
	background-position: 0 -338px;
}

/* specific to the notifications div */
.notifications{
	background-position: 0 -238px;
}

.lock{
	background-position: 0 -859px;
	height:  16px;
	/* this will override the social icon margin */
	margin-left:  10px;
	margin-top:  5px;
	/*border-left:  1px solid #444; */
}

.down-arrow{
	background-position: 0 -820px;
	height: 16px;

}

.spacer{
	line-height: 24px;
	margin: 0px 10px 0px 15px;
	font-weight: normal;
}

#cover-photo-wrapper{
	max-width: 900px;
	margin: auto;
	width: 100%;
}

#cover-photo-lower{
	max-width: 900px;
	margin: auto;
}

#big-photo{
	max-height: 350px;
	overflow: hidden;
}

#big-photo img{
	width: 100%;
}

#big-avatar{
	position: relative;
	float: left;
	height: 160px;
	width: 160px;
	margin-top: -130px;
	margin-left: 25px;
	z-index: 2;
	border: 5px solid #ffffff;
}

#avatar-name{
	float: left;
	padding-left: 50px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin: -35px;
	position: relative;

}

#cover-button{
	float: right;
	position: relative;
	margin: -40px;
	padding-right: 50px;
}

#cover-button button{
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	padding: 7px;
}


#cover-menu{
	float: left;
	margin-left: 20px;
	margin-top: -6px;
	padding: 5px;
}

.cover-menu-item{
	float: left;
	list-style-type: none;
	padding: 15px 30px;
	border: 1px solid #cccccc;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #365899;

}	
